html{
    padding-left:10%;
    padding-right:10%;
    background-color:azure;
}
.second{
      padding-top:10%;
      padding-bottom:0px;
      margin:auto;
      display:flex;
      justify-content:space-evenly;
           
}
img{
    height:150px;
    width:150px;
    border:2px solid black;
    padding-left:1%;
}
h2{
    color:hotpink;
}
h3{
    color:purple;
}
h1{
    color:b;
}